<div class="container">
  <div class="container text-red-500 text-center">
    <ol>
      <li>Add A button which says 'Display Details'</li>
      <li>
        Add a paragraph with any content of your choice (e.g. 'Secret Password =
        tuna')
      </li>
      <li>
        Toggle the displaying of that paragraph with the button created in the
        first step
      </li>
      <li>
        Log all button clicks in an array and output that array below the secret
        paragraph (maybe log a timestamp or simply an incrementing number)
      </li>
      <li>
        Starting at the 5th log item, give all future log items a blue
        background (via ngStyle) and white color (ngClass)
      </li>
    </ol>
  </div>

  <hr />

  <div class="container solution bg-amber-200 text-center mt-5">
    <h1>SOLUTION:</h1>
    <button class="mt-5" (click)="toggleButtonHandler()">
      DISPLAY DETAILS
    </button>
    <hr />

    <p *ngIf="showParagraph">{{ pString }}</p>

    <hr />

    <div
      *ngFor="let paraItem of newParagraphs"
      [ngStyle]="{ backgroundColor: paraItem >= 5 ? 'green' : 'transparent' }"
      [ngClass]="{ 'text-white': paraItem >= 5 }"
    >
      {{ paraItem }}
    </div>
  </div>
</div>
